<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   <staticContent>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
</configuration>